<div class="container">
  <h2 class="my-5 col-md-6 offset-md-4 text-center under">お知らせ新規登録</h2>
  <%= form_with(model: @news, url: admin_news_index_path, method: :post, local: true, class: 'needs-validation', html: {novalidate: true}) do |f| %>
    <%= render partial: "admin/news/form", locals: { f: f } %>
  <% end %>
</div>

