<div class="card">
  <p class="card-header text-center text-white bg-green"><i class="fas fa-address-book"></i> <strong>クラス検索</strong></p>
    <div class="h-75 card-body">
      <% groups.each do |group| %>
      <div class="my-4">
        <%= link_to admin_group_path(group.id) do %>
          <p class="text-dark"><%= group.name %></p>
        <% end %>
      </div>
      <% end %>
    </div>
</div>