<div class="card">
  <h5 class="card-header text-center bg-white">クラス検索</h5>
    <div class="h-75 card-body">
      <% groups.each do |group| %>
      <div class="my-4">
        <%= link_to admin_group_path(group.id) do %>
          <p class="text-dark"><%= group.name %></p>
        <% end %>
      </div>
      <% end %>
    </div>
</div>