<div class="container">
  <h2 class="mt-3 col-lg-6 offset-lg-3 text-center under">遊び編集</h2>
  <%= form_with model: @game ,url: admin_game_path,method: :patch  do |f| %>
    <%= render partial: "admin/games/form", locals: { f: f } %>
    <div class="col d-flex justify-content-center">
     <%= f.submit "変更", class: "btn btn-gray text-white rounded-pill mt-5 col-md-2 col-4" %>
    </div>
  <% end %>
</div>

