<div class="container">
  <h2 class="mt-3 col-md-5 text-center">遊び投稿</h2>
  <%= form_with model: @game,url: admin_games_path,method: :post do |f| %>
    <%= render partial: "admin/games/form", locals: { f: f } %>
    <div class="col d-flex justify-content-center">
     <%= f.submit "登録", class: "btn btn-gray text-white rounded-pill mt-5 col-md-2 col-4" %>
    </div>
  <% end %>
</div>
