<div class="container">
  <h2 class="col-lg-7 mt-5 text-center under offset-lg-2">子ども情報登録/一覧</h2>
  <div class="ml-4 mt-5" id="new">
    <%= render "form", child: @child %>
  </div>
  <div id="index" class="mt-4 col-lg-8 offset-lg-2">
    <%= render "index", children: @children %>
  </div>
</div>

