<div class="row d-flex justify-content-center">
  <div class="col-md-8 mt-2">
    <table class="table table-hover">
      <tbody>
        <thead>
          <th class="bg-green text-white col-4">投稿日</th>
          <th class="bg-green text-white col-5">子ども</th>
        </thead>
        <% @contacts.each do |contact| %>
          <% created_at = contact.created_at.to_date.to_s %>
          <% child = contact.child %>
          <tr onclick='window.location="<%= show_contact_path(created_at: created_at, child_id: child.id)  %>"' role="link">
            <td><%=I18n.l(contact.created_at, format: :short) %></td>
            <td><%= contact.child.name %></td>
          </tr>
        <% end %>
        </tbody>
    </table>
  </div>
</div>