<div class="row">
    <div class="col-md-8 mt-5">
      <table class="table table-hover">
        <tbody>
          <% @contacts.each do |contact| %>
          <% date = contact.created_at.to_s(:detetime)%>
            <tr>
              <td><% weeks = ["日","月","火","水","木","金","土"]%>
                  <% week = weeks[contact.created_at.wday]%>
                  <% if contact.admin_id? %>
                    <%= link_to admin_customer_contact_path(@customer,contact)  do %>
                    <%#= link_to contact_contact_path(id: @contact_contact.id, day: contact.created_at.day)  do %>
                      <p class="text-secondary mt-1 mb-0">【 園 】<%=contact.created_at.strftime("%Y年%m月%d日 (#{week})") %></p>
                    <% end %>
                  <% elsif contact.customer_id? && @contact_contact.present? %>
                  <%= link_to contact_contact_path(@contact_contact.ids, day: contact.created_at.day)  do %>
                    <%#= link_to contact_path(contact) do %>
                      <p class="text-secondary mt-1 mb-0">【家庭】<%=contact.created_at.strftime("%Y年%m月%d日 (#{week})") %></p>
                    <% end %>
                  <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>