<div class="container">
  <h2 class="border-bottom mt-3 col-md-3 text-center">連絡帳編集</h2>


    <div class ="row ">

  <%= @contact.created_at %>
  </div>
  <%= form_with model: @contact ,url: admin_customer_contact_path,method: :patch  do |f| %>
    <%= render partial: "admin/contacts/form", locals: { f: f } %>
    <div class="col mt-5 offset-lg-6">
     <%= f.submit "変更", class: "btn btn-secondary text-white rounded-pill mt-5 col-md-2" %>
    </div>
  <% end %>
  </div>
