<div class="container">
  <div class="row">
    <div class="col mt-5">
      <h2 class="col-12 text-center">ヒヤリハット</h2>
      <%= form_with model: @accident , url: admin_group_accidents_path, method: :post do |f| %>
        <%= render partial: "form", locals: { f: f } %>
      <% end %>
    </div>
  </div>
</div>

