/*------------------------------------
- COLOR gray
------------------------------------*/
.alert-gray {
    color: #86867a;
    background-color: #122122125;
    border-color: #11811811b;
}

.alert-gray hr {
    border-top-color: #10c10c10d;
}

.alert-gray .alert-link {
    color: #6c6c62;
}

.badge-gray {
    color: #212529;
    background-color: #c1c1bb;
}

.badge-gray[href]:hover, .badge-gray[href]:focus {
    color: #212529;
    background-color: #a8a8a0;
}

.bg-gray {
    background-color: #c1c1bb !important;
}

a.bg-gray:hover, a.bg-gray:focus,
button.bg-gray:hover,
button.bg-gray:focus {
    background-color: #a8a8a0 !important;
}

.border-gray {
    border-color: #c1c1bb !important;
}

.btn-gray {
    color: #212529;
    background-color: #c1c1bb;
    border-color: #c1c1bb;
}

.btn-gray:hover {
    color: #212529;
    background-color: #afafa8;
    border-color: #a8a8a0;
}

.btn-gray:focus, .btn-gray.focus {
    box-shadow: 0 0 0 0.2rem rgba(193, 193, 187, 0.5);
}

.btn-gray.disabled, .btn-gray:disabled {
    color: #212529;
    background-color: #c1c1bb;
    border-color: #c1c1bb;
}

.btn-gray:not(:disabled):not(.disabled):active, .btn-gray:not(:disabled):not(.disabled).active, .show > .btn-gray.dropdown-toggle {
    color: #212529;
    background-color: #a8a8a0;
    border-color: #a1a198;
}

.btn-gray:not(:disabled):not(.disabled):active:focus, .btn-gray:not(:disabled):not(.disabled).active:focus, .show > .btn-gray.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(193, 193, 187, 0.5);
}

.btn-outline-gray {
    color: #c1c1bb;
    background-color: transparent;
    border-color: #c1c1bb;
}

.btn-outline-gray:hover {
    color: #212529;
    background-color: #c1c1bb;
    border-color: #c1c1bb;
}

.btn-outline-gray:focus, .btn-outline-gray.focus {
    box-shadow: 0 0 0 0.2rem rgba(193, 193, 187, 0.5);
}

.btn-outline-gray.disabled, .btn-outline-gray:disabled {
    color: #c1c1bb;
    background-color: transparent;
}

.btn-outline-gray:not(:disabled):not(.disabled):active, .btn-outline-gray:not(:disabled):not(.disabled).active, .show > .btn-outline-gray.dropdown-toggle {
    color: #212529;
    background-color: #c1c1bb;
    border-color: #c1c1bb;
}

.btn-outline-gray:not(:disabled):not(.disabled):active:focus, .btn-outline-gray:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-gray.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(193, 193, 187, 0.5);
}

.list-group-item-gray {
    color: #86867a;
    background-color: #11811811b;
}

.list-group-item-gray.list-group-item-action:hover, .list-group-item-gray.list-group-item-action:focus {
    color: #86867a;
    background-color: #10c10c10d;
}

.list-group-item-gray.list-group-item-action.active {
    color: #212529;
    background-color: #86867a;
    border-color: #86867a;
}

.table-gray,
.table-gray > th,
.table-gray > td {
    background-color: #11811811b;
}

.table-hover .table-gray:hover {
    background-color: #10c10c10d;
}

.table-hover .table-gray:hover > td,
.table-hover .table-gray:hover > th {
    background-color: #10c10c10d;
}

.text-gray {
    color: #c1c1bb !important;
}

a.text-gray:hover, a.text-gray:focus {
    color: #a8a8a0 !important;
}


* {
  font-family: "Noto Sans JP", cursive;
}

header {
  background-color: #ddf2b1;
}

footer{
  background-color: #ddf2b1;
}

.my-page-info {
 position: relative;

    border: solid 10px #f6f3a5;
    border-radius: 8px;
}


.my_page_icon {
  font-size: 8em;
  color: #FFFF99;
}

.title_h3 {

  font-size: 40px;
  font-family: "Noto Sans JP";
  font-weight: bold;
}

.my-page-visual {
  background-image: url('/images/cup_cake3.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: left 100% top;
}

.info-title {
  font-size: 19px;
  font-family: "Noto Sans JP";
  color: #515151
}

.info_to_edit {
  background-color: #f6f3a5;
  /*border-color: #d5a6bd;*/
  font-family: "Noto Sans JP";
  color: #515151
}

.my_info_table th {
  /*text-align: right;*/

  font-size: 15px;
  font-family: "Noto Sans JP";
  color: #515151
}


.my_info_table td {
  /*text-align: center;*/
  font-size: 18px;
  font-family: "Noto Sans JP";
  color: #515151
}

.info_to_order_index {
  margin-left: 3px;
  background-color: #d5a6bd;
  border-color: #d5a6bd;
  font-family: "Noto Sans JP";
  color: #515151
}

.info_to_address_index {
  background-color: #d5a6bd;
  border-color: #d5a6bd;
  font-family: "Noto Sans JP";
  color: #515151
}

/*ここから会員情報編集ページ*/

.info_edit_page_icon {
  font-size: 8em;
  color: #ffefcf;
}

.info_edit_title {
  color: #a4aa96;
  font-size: 40px;
  font-family: "Noto Sans JP";
  font-weight: bold;
}

.info_edit_form {
  font-family: "Noto Sans JP";
  background-color: #f2f7a4;
  color: #515151;
}

.input_area {
  border: 2px solid #ccbfa5;
  border-radius: 5px;
}

.info_edit_save, .customer_out {
  background-color: #7f7767;
}

.info_edit_save:hover, .customer_out:hover {
  background-color: #ccbfa5;
}

.n-circle {
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #efa04c;
}

.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}

