<%= form_with(model: group,url: admin_groups_path, local: false, class: 'needs-validation', html: {novalidate: true}) do |f| %>
  <div class="form-group row">
      <%= f.label :"クラス名" , class: "col-md-2 col-4 offset-md-2 col-3"%>
      <%= f.text_field :name, autofocus: true,class: 'form-control col-md-4 col-11' , required: true%>
      <div class="invalid-feedback row offset-md-4 offset-1">
        名前を入力してください。
      </div>
  </div>
  <div class="col-md-8 text-right">
    <%= f.submit "新規登録", class: "btn btn-gray text-white rounded-pill mt-3 col-md-3 col-6" %>
  </div>
<% end %>