<div class="row g-3 needs-validation novalidate d-flex justify-content-center">
  <div class="col-md-8 mt-5 ">
    <div class="form-group row">
      <%= f.label :"クラス名" , class: "col-md-3 col-3"%>
      <%= f.text_field :name, autofocus: true,class:'form-control col-md-3 col-5', required: true %>
      <div class="invalid-feedback row offset-md-3 offset-3">
        名前を入力してください。
      </div>
    </div>
  </div>
</div>