<div class="container">
  <h2 class="col-md-5 offset-md-3 mt-5 text-center under">クラス登録/一覧</h2>
  <div class="ml-4 mt-5">
    <%= form_with(model: @group,url: admin_groups_path, local: false, class: 'needs-validation', html: {novalidate: true}) do |f| %>
   <div class="form-group row">
      <%= f.label:"クラス名" , class: "col-md-2 col-4 offset-md-2 col-3"%>
      <%= f.text_field :name, autofocus: true,class: 'form-control col-md-4 col-11' , required: true%>
      <div class="invalid-feedback row offset-md-4 offset-3">
        名前を入力してください。
      </div>
  </div>
    <div class="col-md-8 text-right">
      <%= f.submit "変更", class: "btn btn-gray text-white rounded-pill mt-3 col-md-3 col-6" %>
    </div>
  <% end %>
 </div>
