 <div class="container">
  <h2 class="col-md-7 mt-5 text-center">クラス情報編集</h2>
  <%= form_with(model: @group,url: admin_group_path , method: :patch, local: true, class: 'needs-validation', html: {novalidate: true}) do |f| %>
    <%= render partial: "admin/groups/form", locals: { f: f } %>
    <div class="col-md-8 text-right">
      <%= f.submit "変更する", class: "btn btn-gray text-white rounded-pill mt-3" %>
    </div>
  <% end %>
</div>