<div class="container">
 <h1>通知一覧</h1>
<div class="row">

    <% if @notifications.exists? %>

     <div class="col">
        <%= render @notifications %>
   </div>
    <% else %>
<div class="col">
<p>通知はありません</p>
</div>
    <% end %>

</div>
</div>