<div class="form-inline flex-row-reverse mt-2">
  <%= form_with url: link, local: true, method: :get do |f| %>
    <%= f.select :sort_games, options_for_select([["新着順", "new"], ["古い順", "old"], ["いいね多い順", "lot_favorite"], ["いいね少ない順", "few_favorite"]], sort_games ), {}, class: "form-control", :onchange => 'this.form.submit()' %>
  
  <% end %>
  
</div>
<div class="form-inline flex-row-reverse mt-2">
  <%= form_with url: search_tag_path ,local: true, method: :get do |f| %>
    <%= f.search_field :title, class: "form-control search hoge", placeholder: " タイトル検索" %>
  <% end %>
</div>