<%= form_with url: link, local: true, method: :get do |f| %>
  <div class="row">
    <div>
      <%= f.select :sort_games, [["新着順(Default)", "new"], ["古い順", "old"], ["いいね順(多い)", "high_price"], ["いいね順(少ない)", "low_price"]], {}, class: "form-control" %>
    </div>
    <div>
      <%= f.submit "並び替える", class: "btn btn-secondary text-white" %>
    </div>
  </div>
<% end %>